<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polite Society</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter:wght@100;200;300;400&display=swap" rel="stylesheet">

<!-- aos library -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-aos="fade-in">
    <header>
        <nav>
            <ul data-aos="slide-down">
                <div class="text-links">
                    <li><a href="">Home</a></li>
                    <li><a href="">Shop</a></li>
                    <li style="font-size: 16px;"><a href="">POLITE SOCIETY</a></li>
                    <li><a href="">Categories</a> </li>
                    <li><a href="">About</a></li>
                </div>
               <div style="display: flex;justify-content:space-between;width:60px;align-items:center">
                   <li><img class="nav-link-images search-icon" src="./Images/Icons/search-icon.png" alt=""></li>
                   <li><img class="nav-link-images cart-icon" src="./Images/Icons/cart-icon.png" alt=""></li>
                </div>
            
        </ul>
        </nav>
        <div class="underline-header">
        </div>
    </header>
    <section class="home">
        <div class="container">
            <h1 class="hero-text" data-aos="slide-left" data-aos-duration="1000">
                POLITE SOCIETY
            </h1>
            <div class="intro-text-container" data-aos="slide-up" >
                <div class="intro-text">

                    <p>
                        Polite Society is a ready to wear non-conformist power dressing label based in Mumbai, India. It is a gateway for the founder, Surmai Jain, to stir a candid conversation with the audience, that may not always be polite by society’s standards.
                </p>
                <p>
                    Surmai graduated from NIFT Mumbai & FIT New York in 2018. Her inspiration lies in people and their emotions, she wants to challenge the Indian society’s perceptions of nudity and gender roles.
                </p>
                <p>
                    The aesthetics of the label are bold and conversational but functional and relaxed at the same time. Immense attention is given to how the garments are finished, following global standards for quality construction.
                </p>
            </div>
            <button class="btn btn-shopnow"><a href="/room">START NOW <i class="fa-solid fa-circle-arrow-right"></i></a></button>
            </div>
        </div>
        <img data-aos="flip-up" data-aos-delay="1000" class="hero-img" src="./Images/home-img.png" alt="">
        <div data-aos="flip-left" data-aos-delay="1200" class="small-hero-img-container">
            <img class="small-hero-img" src="./Images/small-hero-img.png" alt="">
            <button class="btn"><img src="./Images/Icons/Vector.png" alt=""></button>
        </div>
        <img class="star-img-one" src="./Images/Icons/Star.png" alt="">
        <img class="star-img-two" src="./Images/Icons/Star.png" alt="">
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>